<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<center>
    <h1>Welcome back, {{ userDetails.name }}!</h1>
</center>
    <h2>Explore</h2>
    <p1>BOOKS WILL SHOW UP HERE!</p1>
    <h2>Library</h2>
    <h3>Currently Reading</h3>
    <p1>CURRENTLY READING SHELF WILL SHOW UP HERE WITH BOOKS</p1>
    <h3>Want to Read</h3>
    <p1>WANT TO READ SHELF WILL SHOW UP HERE WITH BOOKS</p1>
    <h3>Books Recommended By Your Book Buddies</h3>
    <p1>RECOMMENDED BOOKS SHELF WILL SHOW UP HERE WITH BOOKS</p1>
    <h3>Finished Reading</h3>
    <p1>FINISHED READING SHELF WILL SHOW UP HERE WITH BOOKS</p1>
    <h3>Your Favorites</h3>
    <p1>FAVORITES SHELF WILL SHOW UP HERE WITH BOOKS</p1>
    <h2>Book Buddies</h2>
    <p1>LIST OF 5 BOOK BUDDIES WILL SHOW UP HERE</p1>
</body>
</html>