<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>{{userDetails.name}}'s Library</h1>

<h2>Currently Reading</h2>
<p1>BOOKS WILL SHOW UP HERE!<br>
{{books.book}} -- {{books.author}}</p1>

<h2>Want to Read</h2>
<p1>BOOKS WILL SHOW UP HERE!</p1>
<h2>Books Recommended By Your Book Buddies</h2>
<p1>BOOKS WILL SHOW UP HERE!</p1>
<h2>Finished Reading</h2>
<p1>BOOKS WILL SHOW UP HERE!</p1>
<h2>{{userDetails.name}}'s Favorites <3</h2>
<p1>BOOKS WILL SHOW UP HERE!</p1>
<h3>Add a personalized shelf to your library! <button type="button">Add Shelf</button></h3>
</body>
</html>