<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    </head>
<body>
<center>
    <h1>Welcome!</h1>
    <h2>Please sign in to continue.</h2>
    <h3>(You can put in random information for now)</h3>
    <label for="Username">Username:</label>
    <input type="text" id="Username" name="Username"><br><br>
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password"><br><br>
    <button type="button">Sign in</button><br><br>
    <p1>Don't have an account?  Click the button below to sign up! </p1><br>
    <button type="button">Sign up</button>
    </center>
</body>
</html>